/* Add CSS Styling */
.odd {
  background-color: rgb(226, 162, 173);
  font-family: Verdana, "Dejavu Sans", sans-serif;
}

#first_id {
  color: blue;
  font-size: 36px;
}

.third_ol {
  font-size: 24px;
}

#second_id {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}
